<div class="row mx-auto w-100 overflow-hidden pb-4">

    <div class="col-12 d-flex justify-content-end align-items-center p-3">

        <mat-icon class="header_icon cursor-pointer" mat-dialog-close>close</mat-icon>

    </div>

    <div class="col-12 d-flex justify-content-between align-items-center overflow-hidden">

        <div class="row justify-content-center mx-auto g-0 w-100">

            <div class="col-sm-3"></div>

            <div [ngSwitch]="data.inputMode" class="col-sm-6 mb-3 mb-sm-0 d-flex align-items-center">

                <!-- Input de búsqueda -->
                <div *ngSwitchDefault class="d-flex align-items-center justify-content-between border p-2 px-3 w-100"
                    [ngClass]="data.bgClass? data.bgClass:''"
                    [ngStyle]="{'border-radius':data.inputBorderRadius??'30px'}">

                    <input name="eren" type="text" placeholder="Buscar" class="input_default"
                        style="width: calc(100% - 30px);"
                        [ngClass]="[data.textClass? data.textClass:'', data.inputClass?data.inputClass:'']">

                    <!-- <label for="eren">Buscar</label> -->
                    <mat-icon class="header_icon fs-30 text-secondary cursor-pointer"
                        [ngClass]="data.textClass? data.textClass:''">search</mat-icon>

                </div>

                <!-- Input de búsqueda -->
                <div *ngSwitchCase="'supermarket'" class="d-flex align-items-center justify-content-between border ps-3 w-100"
                style="max-width: 500px;max-height: 30px;">

                  <input name="eren" type="text" class="input_default" style="width: calc(100% - 30px);">

                  <div class="cmm-bg-project-secundary d-flex align-items-center justify-content-center"
                      style="width: 60px; height: 100%;">
                      <!-- <label for="eren">Buscar</label> -->
                      <mat-icon
                          class="header_icon text-white fs-30 text-secondary cursor-pointer">search</mat-icon>
                  </div>

                </div>

            </div>

            <div class="col-sm-3 d-flex justify-content-end align-items-center">

                <div class="d-flex align-items-center gap-3">

                    <mat-icon class="header_icon fs-30 cursor-pointer">person</mat-icon>
                    <mat-icon class="header_icon fs-30 cursor-pointer"
                        routerLink="products/overview">shopping_cart</mat-icon>

                </div>
            </div>

        </div>

    </div>

</div>
