/*--------------------------------------------------------------------------------------------------------------------------------------
 BACKGROUND
--------------------------------------------------------------------------------------------------------------------------------------*/

@import "./variables.scss";

/*--------------------------------------------------------------------------------------------------------------------------------------
  Environments colors
--------------------------------------------------------------------------------------------------------------------------------------*/

.bg-environmentDev {
  background-color: $v-error;
}

.bg-environmentSandbox {
  background-color: $v-primary;
}

.bg-environmentQA {
  background-color: #f0df48a9;
}

.bg-environmentPreProd {
  background-color: #673c7d;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
   Paleta de colores del proyecto
--------------------------------------------------------------------------------------------------------------------------------------*/

// Primary
.bg-primary {
  background: $v-primary;
}

.bg-primary-disabled {
  background: $v-primary-disabled;
}

.bg-primary-selected {
  background: $v-primary-selected;
}

// Secondary
.bg-secondary {
  background: $v-secondary;
}

.bg-secondary-disabled {
  background: $v-secondary-disabled;
}

.bg-secondary-selected {
  background: $v-secondary-selected;
}

// Primary
.bg-gradient {
  background: $v-gradient;
}

.bg-gradient-secondary {
  background: $v-gradient-secondary;
}

.bg-gradient-tertiary {
  background: $v-gradient-tertiary;
}

// Notificaciones
.bg-success {
  background: $v-success;
}

.bg-success-outline {
  background: $v-white;
  border: 0.1px solid $v-success;
  color: $v-success;
}

.bg-error {
  background: $v-error;
}

.bg-error-outline {
  background: $v-white;
  border: 0.1px solid $v-error;
  color: $v-error;
}

.bg-warning {
  background: $v-warning;
}

.bg-warning-outline {
  background: $v-white;
  border: 0.1px solid $v-warning;
  color:$v-warning;
}

.bg-info {
  background: $v-info;
}

.bg-info-outline {
  background: $v-white;
  border: 0.1px solid $v-info;
  color: $v-info;
}

.bg-medium-gray {
  background: $v-medium-gray;
}

.bg-medium-gray-outline {
  background: $v-white;
  border: 0.1px solid $v-txt;
  color: $v-txt;
}

// Fondos
.bg-background-page {
  background: $v-background-page;
}

.bg-menu {
  background: $v-menu;
}

.bg-navbar {
  background: $v-navbar;
}

// Colores neutros de uso especifico
.bg-white {
  background: $v-white;
}

.bg-light-white {
  background: $v-light-white;
}

.bg-black {
  background: $v-black;
}

.bg-dark-gray {
  background: $v-dark-gray;
}

.bg-medium-gray {
  background: $v-medium-gray;
}

.bg-light-gray {
  background: $v-light-gray;
}
