/*--------------------------------------------------------------------------------------------------------------------------------------
 BACKGROUND
--------------------------------------------------------------------------------------------------------------------------------------*/

@import "./variables.scss";

/*--------------------------------------------------------------------------------------------------------------------------------------
  Environments colors
--------------------------------------------------------------------------------------------------------------------------------------*/

.nd-bg-environmentDev {
  background-color: $v-nd-error;
}

.nd-bg-environmentSandbox {
  background-color: $v-nd-primary;
}

.nd-bg-environmentQA {
  background-color: #f0df48a9;
}

.nd-bg-environmentPreProd {
  background-color: #673c7d;
}

/*--------------------------------------------------------------------------------------------------------------------------------------
   Paleta de colores del proyecto
--------------------------------------------------------------------------------------------------------------------------------------*/

// Primary
.nd-bg-primary {
  background: $v-nd-primary;
}

.nd-bg-primary-disabled {
  background: $v-nd-primary-disabled;
}

.nd-bg-primary-selected {
  background: $v-nd-primary-selected;
}

// Secondary
.nd-bg-secondary {
  background: $v-nd-secondary;
}

.nd-bg-secondary-disabled {
  background: $v-nd-secondary-disabled;
}

.nd-bg-secondary-selected {
  background: $v-nd-secondary-selected;
}

// Primary
.nd-bg-gradient {
  background: $v-nd-primary;
}

// Notificaciones
.nd-bg-sundess {
  background: $v-nd-success;
}

.nd-bg-sundess-outline {
  background: $v-nd-white;
  border: 0.1px solid $v-nd-success;
  color: $v-nd-success;
}

.nd-bg-error {
  background: $v-nd-error;
}

.nd-bg-error-outline {
  background: $v-nd-white;
  border: 0.1px solid $v-nd-error;
  color: $v-nd-error;
}

.nd-bg-warning {
  background: $v-nd-warning;
}

.nd-bg-warning-outline {
  background: $v-nd-white;
  border: 0.1px solid $v-nd-warning;
  color:$v-nd-warning;
}

.nd-bg-info {
  background: $v-nd-info;
}

.nd-bg-info-outline {
  background: $v-nd-white;
  border: 0.1px solid $v-nd-info;
  color: $v-nd-info;
}

.nd-bg-medium-gray {
  background: $v-nd-medium-gray;
}

.nd-bg-medium-gray-outline {
  background: $v-nd-white;
  border: 0.1px solid $v-nd-txt;
  color: $v-nd-txt;
}

// Fondos
.nd-bg-background-page {
  background: $v-nd-background-page;
}

.nd-bg-menu {
  background: $v-nd-menu;
}

.nd-bg-navbar {
  background: $v-nd-navbar;
}

// Colores neutros de uso especifico
.nd-bg-white {
  background: $v-nd-white;
}

.nd-bg-light-white {
  background: $v-nd-light-white;
}

.nd-bg-black {
  background: $v-nd-black;
}

.nd-bg-dark-gray {
  background: $v-nd-dark-gray;
}

.nd-bg-medium-gray {
  background: $v-nd-medium-gray;
}

.nd-bg-light-gray {
  background: $v-nd-light-gray;
}
