<!-- Botón en estado normal, muestra texto o ícono con texto -->
<button *ngIf="!showSpinner" [disabled]="buttonDisabled" type="{{type}}" mat-button
(keydown.enter)="$event.preventDefault()" (click)="submit.emit()"
class="w-100 ccng-bold" style="height: 45px;"
[ngClass]="{
  'nd-btn-primary': buttonType == 'success',
  'nd-btn-error': buttonType == 'cancel',
  'nd-btn-warning': buttonType == 'warning',
  'nd-btn-gradient': buttonType == 'gradient',
  'nd-btn-primary-outline': buttonType == 'successOutline',
  'nd-btn-error-outline': buttonType == 'cancelOutline',
  'nd-btn-warning-outline': buttonType == 'warningOutline',
  'nd-btn-medium-gray-outline': buttonType == 'defaultOutline'
}">

    <!-- Contenido del botón -->
    <span class="fs-16 d-flex align-items-center">

      <!-- En este espacio se pueden incluir íconos, imágenes o cualquier elemento, realmente -->
      <ng-content>
      </ng-content>

      <!-- Texto del botón -->
        {{ button_text }}

    </span>

</button>

<!-- Botón con spinner -->
<button *ngIf="showSpinner" type="{{type}}" mat-button class="ccng-bold w-100" [ngClass]="{'nd-btn-error': buttonType == 'cancel', 'nd-btn-primary': buttonType == 'success', 'nd-btn-warning': buttonType == 'warning', 'nd-btn-error-outline': buttonType == 'cancelOutline', 'nd-btn-primary-outline': buttonType == 'successOutline', 'nd-btn-warning-outline': buttonType == 'warningOutline'}"
    buttonType="button" disabled style="height: 45px;">

    <!-- Elemento que actúa de spinner -->
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

</button>
