<div class="d-flex flex-column" style="width: 250px;">

    <!-- Imagen -->
    <div class="w-100 d-flex justify-content-center align-items-center" style="aspect-ratio: 277/430 !important;">
        <img [src]="product.image" loading="lazy" style="max-height: 430px;max-width: 100%;">
    </div>

    <!-- marca -->
    <span *ngIf="product.brand" class="fs-12 cmm-txt-thin-bold mt-4">{{product.brand}}</span>

    <!-- Nombre -->
    <h4 class="fs-16 cmm-txt-thin-bold">{{product.title}}</h4>

    <!-- Precio -->
    <div class="d-flex gap-3">

        <span class="fs-16 cmm-txt-thin-bold"
            [style.color]="configStyle?.priceColor">{{product.currency}}{{product.price}}</span>

        <span
            class="fs-16 cmm-txt-thin-bold text-decoration-line-through text-secondary">{{product.currency}}{{product.previousprice}}</span>

    </div>

    <cmp-cmm-new-button class="mt-3" [config]="{customBorderRadius: '0'}" style="max-width: fit-content;"
        (click)="addProduct.emit(product.id)">
        <span class="fs-12 cmm-txt-thin-bold">Agregar al carrito</span>
    </cmp-cmm-new-button>

</div>