<div class="row g-0 justify-content-evenly align-items-start bg-white">

    <!-- Parte donde van las imágenes de los productos -->
    <div class="col-lg-7">

        <cmp-cmm-product-detail-grid [images]="product.images"></cmp-cmm-product-detail-grid>

    </div>

    <!-- Parte donde van los detalles -->
    <div class="col-lg-5 d-flex justify-content-center">

        <div class="d-flex flex-column w-100 align-items-start ps-4 ps-sm-5">

            <!-- Nombre, marca y precio -->

            <span class="fs-34 cmm-txt-thin-bold">{{product.name}}</span>
            <span class="fs-32 cmm-txt-thin-bold">{{product.brand}}</span>

            <span class="fs-34 cmm-txt-thin-bold my-4">{{'REF. '+ product.price}}</span>

            <mat-divider class="w-100"></mat-divider>

            <!-- Colores -->
            <!-- <div class="w-100 py-4">

                <div *ngIf="product.aditionalInfo['Color']" class="d-flex gap-1">
                    <span>COLOR:</span>
                    <span class="cmm-txt-thin-bold">{{product.aditionalInfo['Color']}}</span>
                </div>

                <div class="d-flex">

                    Variantes
                    <div *ngFor="let variant of product.variants; index as i" class="color_box me-1 cursor-pointer"
                        [style.background-color]="variant"
                        [ngClass]="[i == choosenVariant?'scale-1':'', config.colorBox?.colorBoxRounded? 'rounded': '', config.colorBox?.colorBoxBorder? 'color_box_border': '']"
                        (click)="choosenVariant = i">
                    </div>

                </div>

            </div> -->

            <mat-divider class="w-100"></mat-divider>

            <!-- Tallas -->
            <!-- <div *ngIf="product.sizes" class="w-100 py-4">

                <div class="d-flex gap-1">
                    <span>Tallas:</span>
                </div>

                <div class="d-flex">
                    Variantes
                    <div *ngFor="let size of product.sizes; index as i"
                        class="color_box me-1 cursor-pointer d-flex align-items-center justify-content-center"
                        [ngClass]="i == choosenSize?'scale-1 bg-black':''" (click)="choosenSize = i">

                        <span class="fs-12 cmm-txt-thin-bold"
                            [ngClass]="i == choosenSize?'text-white':''">{{size}}</span>

                    </div>
                </div>

            </div> -->

            <!-- <mat-divider class="w-100"></mat-divider> -->

            <!-- Sección de detalles adicionales -->
            <div class="w-100">

                <div *ngFor="let item of product.aditionalInfo; let i = index" class="row g-0 w-100 my-4">

                    <div class="d-flex gap-1 mb-3">
                        <span class="cmm-txt-thin-bold">{{item.title}}:</span>
                    </div>

                    <!-- Información normal -->
                    <div *ngIf="!item.type" class="col-12">

                        <div class="d-flex overflow-hidden flex-column">

                            <!-- Contenedor de los textos -->
                            <div #textContainers class="overflow-hidden">

                                <p *ngIf="item.text">{{item.text}}</p>

                                <p *ngFor="let text of item.texts">{{text}}</p>

                            </div>

                            <!-- Botón de ver más contenido -->
                            <!-- <button *ngIf="textContainers && textContainers.offsetHeight > 100"
                                style="border: none;background-color: transparent; width: fit-content;">Ver
                                más...</button> -->

                        </div>

                    </div>

                    <!-- Información sobre variantes -->
                    <div *ngIf="item.type == 'variants'" class="col-12">

                        <div class="d-flex">

                            <!-- Variantes de color -->
                            <div *ngFor="let variant of item.colorVariants; index as i"
                                class="color_box me-1 cursor-pointer"
                                [ngClass]="[i == choosenVariant?'scale-1':'', config.colorBox?.colorBoxRounded? 'rounded': '', config.colorBox?.colorBoxBorder? 'color_box_border': '']"
                                (click)="choosenVariant = i">

                                <!-- Si es variante de color -->
                                <div class="w-100 h-100" [style.background-color]="variant.color"
                                    style="border-radius: inherit;">
                                </div>

                            </div>

                            <!-- Variantes de imagen -->
                            <div *ngFor="let variant of item.imageVariants; index as i"
                                class="color_box me-1 cursor-pointer"
                                [ngClass]="[i == choosenVariant?'scale-1':'', config.colorBox?.colorBoxRounded? 'rounded': '', config.colorBox?.colorBoxBorder? 'color_box_border': '']"
                                (click)="choosenVariant = i">

                                <!-- Si es variante de imagen -->
                                <div class="w-100 h-100">

                                    <img [src]="variant.image" alt="" class="w-100 h-100"
                                        style="border-radius: inherit;">

                                </div>

                            </div>

                            <!-- Variantes de text -->
                            <div *ngFor="let variant of item.textVariants; index as i"
                                class="color_box me-1 cursor-pointer d-flex align-items-center justify-content-center"
                                [ngClass]="i == choosenSize?'scale-1 bg-black':''" (click)="choosenSize = i">

                                <span class="fs-12 cmm-txt-thin-bold"
                                    [ngClass]="i == choosenSize?'text-white':''">{{variant.text}}</span>

                            </div>

                        </div>

                    </div>

                </div>

                <mat-divider class="w-100"></mat-divider>

            </div>

            <!-- Detalles -->
            <div class="w-100">

                <!-- cantidad y agregar -->
                <div class="d-flex mt-4 flex-column">

                    <span class="mb-3">CANTIDAD:</span>

                    <div class="row g-0 align-items-center justify-content-between justify-content-xl-between">

                        <!-- Caja para cambiar de cantidad -->
                        <div class="col-sm-6 col-xl-6 mb-3 border d-flex align-items-center"
                            style="width: fit-content;">

                            <div class="border p-2 cursor-pointer" (click)="removeProductUnit()">

                                <mat-icon>expand_more</mat-icon>

                            </div>

                            <span class="px-5">{{product.quantity}}</span>

                            <div class="border p-2 cursor-pointer" (click)="addProductUnit()">

                                <mat-icon>expand_less</mat-icon>

                            </div>

                        </div>

                        <div class="col-sm-6 col-xl-6 mb-3">

                            <cmp-cmm-new-button class="w-100" [config]="config.button??{}" style="max-width: 200px;"
                                (click)="navigate()">
                                <span class="cmm-txt-thin-bold">
                                    AGREGAR AL CARRITO
                                </span>
                            </cmp-cmm-new-button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>