@import "../../../assets/styles/scss/variables.scss";

.alert {
  padding: 1.2rem 1rem 1.2rem 0.5rem;
}

.nd-bl-error {
  border-left: 20px solid $v-nd-error;
}

.nd-bl-success {
  border-left: 20px solid $v-nd-success;
}

.nd-bl-info {
  border-left: 20px solid $v-nd-info;
}

.nd-bl-warning {
  border-left: 20px solid $v-nd-warning;
}

.containerMessage {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 1rem;
  transition: all 0.3s ease;
}

.closeButton {
  border: none;
  width: max-content;
  height: 20px;
  background-color: transparent;
  align-self: center;
}

.closeButton > * {
  font-size: 20px;
  color: rgb(44, 44, 44);
}

@media (max-width: 400px) {
  .containerMessage {
    grid-template-columns: 80% 20%;
  }
}
