<div class="align-items-center justify-content-between alert shadowBorder rounded h-100 d-flex cursor-pointer" [ngClass]="data.typeIcon == 'default' ? 'defaultNew' : data.typeIcon == 'success' ? 'bl-success bg-white': data.typeIcon == 'error' ? 'bl-error bg-white' : data.typeIcon == 'warning' ? 'bl-warning bg-white' :
    data.typeIcon == 'info' ? 'bl-info bg-white' : ''" [ngStyle]="{opacity: showAlert, display: alertDisplay}" (click)="change()">

    <!-- Ícono que indica qué tipo de alarta es -->
    <div class="d-none d-md-flex align-items-center me-2">

        <mat-icon aria-hidden="false" aria-label="icon" [ngClass]="{'ccng-default': data.typeIcon == 'default',
                'txt-success': data.typeIcon == 'success',
                'txt-error': data.typeIcon == 'error',
                'txt-warning': data.typeIcon == 'warning',
                'txt-info': data.typeIcon == 'info' }" style="overflow: visible !important;" class="me-4 me-sm-0">

            {{data.icon}}
        </mat-icon>

    </div>

    <!-- Textos -->
    <div class="text txt">

        <!-- Texto principal de la alerta -->
        <p class="m-0 fs-16 ">
            {{ data.text }}
        </p>

        <!-- Error que muestra la alerta -->
        <p class="m-0 fs-14 txt-bold" *ngIf="data.errorText">
            {{ data.errorText }}
        </p>

    </div>

    <!-- Botón de cierre -->
    <button class="closeButton" (click)="change()">
        <mat-icon>close</mat-icon>
    </button>

</div>
