<div class="align-items-center alert shadowBorder rounded containerMessage h-100" [ngClass]="data.typeIcon == 'default' ? 'defaultNew' : data.typeIcon == 'success' ? 'nd-bl-success nd-bg-white': data.typeIcon == 'error' ? 'nd-bl-error nd-bg-white' : data.typeIcon == 'warning' ? 'nd-bl-warning nd-bg-white' :
    data.typeIcon == 'info' ? 'nd-bl-info nd-bg-white' : ''" [ngStyle]="{opacity: showAlert, display: alertDisplay}">

    <!-- Ícono que indica qué tipo de alarta es -->
    <div class="d-none d-md-flex align-items-center">

        <mat-icon aria-hidden="false" aria-label="icon" [ngClass]="{'ccng-default': data.typeIcon == 'default',
                'nd-txt-success': data.typeIcon == 'success',
                'nd-txt-error': data.typeIcon == 'error',
                'nd-txt-warning': data.typeIcon == 'warning',
                'nd-txt-info': data.typeIcon == 'info' }" style="overflow: visible !important;" class="me-4 me-sm-0">

            {{data.icon}}
        </mat-icon>

    </div>

    <!-- Textos -->
    <div class="text nd-txt">

        <!-- Texto principal de la alerta -->
        <p class="m-0 fs-16 ">
            {{ data.text }}
        </p>

        <!-- Error que muestra la alerta -->
        <p class="m-0 fs-14 nd-txt-bold" *ngIf="data.errorText">
            {{ data.errorText }}
        </p>

    </div>

    <!-- Botón de cierre -->
    <button class="closeButton" (click)="change()">
        <mat-icon>close</mat-icon>
    </button>

</div>
