.input_default::placeholder {
    color: black !important;
}

.filter_button, .filter_button_icon {
    background-color: var(--v-dynamic-primary);
    border: none;
    height: 50px;
    border-radius: 30px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .filters_grid {
//     display: grid;
//     justify-items: center;
//     align-content: center;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
// }

.filter_input {
  width: 30%;
  max-width: 100%;
  // max-width: 200px;
  // min-width: 200px;
  max-height: 30px;
  border-radius: 50px;
  // transition: all ease 0.25s;
}

.input_select {
  width: fit-content;
}

// .filter_input:active,
// .filter_input:focus,
// .filter_input:target,
// .filter_input:hover {
//     min-width: 400px;
//     max-width: 400px;
//     z-index: 2;
//     scale: 1.05;
//     transition: all ease 0.25s;
// }

@media (max-width: 767px) {

    .filters_grid {
        width: 100%;
    }

    .filter_button {

        min-width: 200px;

    }

}

@media (max-width: 992px) {

  .filter_input {
    width: 100%;
  }

  .input_select {
    width: 100%;
  }

}
